header
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .navbar-brand WatchDog Media
            .navbar-toggler(data-target="#navbarSupportedContent" data-toggle="collapse" type="button" aria-controls="navbarSupportedContent")
                span.navbar-toggler-icon
            
            .collapse.navbar-collapse#navbarSupportedContent
                .ul.navbar-nav.ml-auto
                    .nav-item
                        a.nav-link(href="/") Home
                    .nav-item
                        a.nav-link(href="/about") About
                    .nav-item.custom-menu
                        a.nav-link(href="/services") Services
                        //- .services-menu
                        //-     a.services-menu__link(href="/services-video") Video Production Services
                        //-     a.services-menu__link(href="/services-event") Event Videography
                        //-     a.services-menu__link(href="/services-corporate") Corporate/Training Videos
                        //-     a.services-menu__link(href="/services-social") Social Media
                    .nav-item
                        a.nav-link(href="/people") People
                    .nav-item
                        a.nav-link(href="/contact-us") Contact Us
                    .nav-item
                        a.nav-link(href="/previous-work") Previous Work
