header
    .container
        .navigation
            .brand
            .navigation__item
                a.navigation__link(href="/") Home
            .navigation__item
                a.navigation__link(href="/about") About
            .navigation__item--droppable
                a.navigation__link#services__label(href="/services") Services
                label.navigation__icon(for="services-menu" onclick="checkBox()")
                input.services__toggler#services-menu(type="checkbox")
                
                .services__menu
                            a.services__menu--link(href="/services-video") Video Production Services
                            a.services__menu--link(href="/services-event") Event Videography
                            a.services__menu--link(href="/services-corporate") Corporate/Training Videos
                            a.services__menu--link(href="/services-social") Social Media
            .navigation__item
                a.navigation__link(href="/people") People
            .navigation__item
                a.navigation__link(href="/contact-us") Contact Us
            .navigation__item
                a.navigation__link(href="/previous-work") Previous Work

        //- nav.navbar.navbar-expand-lg.navbar-light.bg-light
        //-     .navbar-brand WatchDog Media
        //-     .navbar-toggler(data-target="#navbarSupportedContent" data-toggle="collapse" type="button" aria-controls="navbarSupportedContent")
        //-         span.navbar-toggler-icon
            
        //-     .collapse.navbar-collapse#navbarSupportedContent
        //-         .ul.navbar-nav.ml-auto
        //-             .nav-item
        //-                 a.nav-link(href="/") Home
        //-             .nav-item
        //-                 a.nav-link(href="/about") About
        //-             .nav-item
        //-                 a.nav-link(href="/services") Services
        //-                 //- .services-menu
        //-                 //-     a.services-menu__link(href="/services-video") Video Production Services
        //-                 //-     a.services-menu__link(href="/services-event") Event Videography
        //-                 //-     a.services-menu__link(href="/services-corporate") Corporate/Training Videos
        //-                 //-     a.services-menu__link(href="/services-social") Social Media
        //-             .nav-item
        //-                 a.nav-link(href="/people") People
        //-             .nav-item
        //-                 a.nav-link(href="/contact-us") Contact Us
        //-             .nav-item
        //-                 a.nav-link(href="/previous-work") Previous Work
