header
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .navbar-brand WatchDog Media
            .navbar-toggler(data-target="#navbarSupportedContent" data-toggle="collapse" type="button" aria-controls="navbarSupportedContent")
                span.navbar-toggler-icon
            
            .collapse.navbar-collapse#navbarSupportedContent
                .ul.navbar-nav.ml-auto
                    .nav-item
                        a.nav-link(href="/") Home
                    .nav-item
                        a.nav-link(href="/about") About
                    .nav-item
                        a.nav-link(href="/#") Services
                    .nav-item
                        a.nav-link(href="/#") People
                    .nav-item
                        a.nav-link(href="/#") Contact Us
                    .nav-item
                        a.nav-link(href="/#") Previous Work
