extends layout

block content
    .container
        section.section__about--banner
                div
                    h1.heading--noteworthy.text-white WELCOME TO WATCHDOG MEDIA
                .divider--2
                div
                    h3.minion.text-white Watchdog Media is a digital marketing company creating tailor-made quality videos and digital content for individuals and companies.

        section.section__about--features
            .feature
                .feature__icon
                    img(class="p-3", src="./images/2x/shredder@2x.png", alt="paper shredder")
                .feature__title
                    h4.heading--noteworthy Digital Consultation
                .feature__content
                    p.minion Discuss requirements and provide a step-by-step guide detailing creative and logistic deliverables

            .feature
                .feature__icon
                    img(class="p-3", src="./images/2x/lamp@2x.png", alt="lamp")
                .feature__title
                    h4.heading--noteworthy Niche Packages
                .feature__content
                    p.minion Create unique packages to meet your needs

            .feature
                .feature__icon
                    img(class="p-3", src="./images/2x/telescope@2x.png", alt="telescope")
                .feature__title
                    h4.heading--noteworthy Marketing Outlook
                .feature__content
                    p.minion Discuss requirements and provide a step-by-step guide detailing creative and logistic deliverables

        section.section__about--philosophies
            .philosophy__statement
                div
                    h1.heading--noteworthy.text-white.text-center Watch 
                        span.text-yellow Philosophy
                .minion.philosophy__statement--text 
                    p Creating visually stimulating content which provokes thought and drives dialogue about businesses/individuals.
                .minion.philosophy__statement--text 
                    p Transform the African landscape of Digital Content and Media into one which is authentic to its people and is profitable.
            .philosophy__slogan
                .philosophy__slogan--entertain
                    .philosophy__slogan--image
                    .philosophy__slogan--text
                        h1 ENTERTAIN
                .philosophy__slogan--divider
                .philosophy__slogan--educate
                    .philosophy__slogan--image
                    .philosophy__slogan--text
                        h1 EDUCATE
                .philosophy__slogan--divider
                .philosophy__slogan--evolve
                    .philosophy__slogan--image
                    .philosophy__slogan--text
                        h1 EVOLVE