extends layout

block content
    .container
        section.about__banner
                .about__banner--title WELCOME TO WATCHDOG MEDIA
                .about__banner--divider
                .about__banner--text Watchdog Media is a digital marketing company creating tailor-made quality videos and digital content for individuals and companies.

        section.about__features
            .feature
                .feature__icon 
                    img(src="images/2x/shredder@2x.png", alt="paper shredder")
                .feature__title Digital Consultation
                .feature__content Discuss requirements and provide a step-by-step guide detailing creative and logistic deliverables

            .feature
                .feature__icon
                    img(src="images/2x/lamp@2x.png", alt="paper shredder")
                .feature__title Digital Consultation
                .feature__content Create unique packages to meet your needs

            .feature
                .feature__icon
                    img(src="images/2x/telescope@2x.png", alt="telescope")
                .feature__title Marketing Outlook
                .feature__content Discuss requirements and provide a step-by-step guide detailing creative and logistic deliverables

        section.about__philosophies
            .philosophy__statement
                .philosophy__statement--title
                    p Watch 
                        span.text-yellow Philosophy
                .minion.philosophy__statement--text 
                    p Creating visually stimulating content which provokes thought and drives dialogue about businesses/individuals.
                .minion.philosophy__statement--text 
                    p Transform the African landscape of Digital Content and Media into one which is authentic to its people and is profitable.
            .philosophy__slogan
                .philosophy__slogan--item
                    .philosophy__slogan--image
                        img(src="images/custom/about_entertain.svg", alt="entertain")
                    .philosophy__slogan--text ENTERTAIN
                .philosophy__slogan--divider
                .philosophy__slogan--item
                    .philosophy__slogan--image
                        img(src="images/custom/about_educate.svg", alt="educate")
                    .philosophy__slogan--text EDUCATE
                .philosophy__slogan--divider
                .philosophy__slogan--item
                    .philosophy__slogan--image
                        img(src="images/custom/about_evolve.svg", alt="evolve")
                    .philosophy__slogan--text EVOLVE