extends layout

block content
    .container
        section.contact__banner
            .contact__banner--title Contact Us
            .contact__banner--divider
            .contact__banner--text

        section.contact__form
            form.contact__layout#contact-form(action="#")

                .contact__layout--item
                    input.contact__textbox(type="text" placeholder="Name")
                //- .contact__layout--item
                //-     input.contact__textbox(type="text" placeholder="Email")
                .contact__layout--item.mt-4
                    
                    .contact__link
                        img.contact__icon.mr-2(src="images/custom/envelope_pink.svg", alt="mail")
                        a(href="mailto:info@watchdogmedia.co.za") Information: info@watchdogmedia.co.za
                    .contact__link
                        img.contact__icon.mr-2(src="images/custom/envelope_pink.svg", alt="mail")
                        a(href="mailto:sos@watchdogmedia.co.za") Emergencies: sos@watchdogmedia.co.za
                .contact__layout--item
                    input.contact__textbox(type="text" placeholder="Subject")
                
            
                textarea.contact__textarea(placeholder="Message:" rows="10")

                button.button(type="submit") Send