extends layout

block content
    .container
        section.section__home--banner
            //- .jumbotron
            //-     .d-flex.flex-column.justify-content-end
            //-         div
            //-             h1.heading-noteworthy.text-white WatchDog Media
            //-         div
            //-             h3.heading-noteworthy.float-right.text-white Staying ahead of the pack in the digital space
        section.section__home--content
            .text-center
                h1.heading--noteworthy WELCOME TO WATCHDOG MEDIA
                .divider
                h4.minion Watchdog Media is a digital marketing company creating tailor-made quality videos and digital content for individuals and companies
        section.section__home--features
            section.section__about--features
            .feature
                .feature__icon
                    img(class="p-3", src="./images/2x/shredder@2x.png", alt="paper shredder")
                .feature__title
                    h4.heading--noteworthy Digital Consultation
                .feature__content
                    p.minion Discuss requirements and provide a step-by-step guide detailing creative and logistic deliverables

            .feature
                .feature__icon
                    img(class="p-3", src="./images/2x/lamp@2x.png", alt="lamp")
                .feature__title
                    h4.heading--noteworthy Niche Packages
                .feature__content
                    p.minion Create unique packages to meet your needs

            .feature
                .feature__icon
                    img(class="p-3", src="./images/2x/telescope@2x.png", alt="telescope")
                .feature__title
                    h4.heading--noteworthy Marketing Outlook
                .feature__content
                    p.minion Discuss requirements and provide a step-by-step guide detailing creative and logistic deliverables