extends layout

block content
    .ui.container
        section.home__banner
            img.logo(class="home__banner--logo", src="./images/1x/logo_watchdog.png", alt="watchdog logo")
            .home__banner--text Staying ahead of the pack in the digital space
        section.home__welcome
            .home__welcome--title WELCOME TO WATCHDOG MEDIA
            .home__welcome--divider
            .home__welcome--text Watchdog Media is a digital marketing company creating tailor-made quality videos and digital content for individuals and companies
        section.home__features
            .feature
                img(src="images/custom/shredder.svg", alt="paper shredder").feature__icon 
                .feature__title Digital Consultation
                .feature__content Discuss requirements and provide a step-by-step guide detailing creative and logistic deliverables

            .feature
                img(src="images/custom/lamp.svg", alt="paper shredder").feature__icon
                .feature__title Niche Packages
                .feature__content Create unique packages to meet your needs

            .feature
                img(src="images/custom/telescope.svg", alt="telescope").feature__icon
                .feature__title Marketing Outlook
                .feature__content Combine  marketing elements with video to create brand presence