extends layout

block content
    .ui.container
        section.palesa__banner
            .palesa__banner--title PEOPLE
            .palesa__banner--divider
            .palesa__banner--text  Palesa Lebona

        section.palesa__content
            .reel-3
                .reel-3__header
                    .reel-3__header--title PALESA 
                        span.text-yellow LEBONA
                    .reel-3__header--pane
                        img.reel-3__header--pane-icon(src="images/custom/clapperboard.svg" alt="Clapperboard")
                        .reel-3__header--pane-text-1 Director
                        .reel-3__header--pane-divider
                        .reel-3__header--pane-text-2 Alpha
                .reel-3__content
                    .reel-3__content--text Palesa Lebona is a Content Producer with a Master of Fine Arts (Filmmaking) from The New York Film Academy and two Bachelor of Commerce Degrees under her belt.
                    .reel-3__content--text She brings knowledge, and expertise in both film production and corporate, enabling Watchdog Media to create fresh original content which meets budgetary expectations for businesses and individuals.
                    .reel-3__content--text Her corporate journey includes two degrees, B.Comm Marketing Management and B.Comm Logistics Management (Honors) from the University of Johannesburg, accompanied with 5 years of work experience within the fields of Banking, Marketing and Project Management.
                    .reel-3__content--text Realizing that life is too short she began the journey to pursue her true passion storytelling, where she completed Master of Fine Arts in Filmmaking and graduated with honours from the New York Film Academy. She has worked on over 20 productions which include short films, commercials, music videos and feature films.
                    .reel-3__content--text To date, her master’s thesis short film Cream has been selected in 23 film festivals across 3 continents with four awards from various film festivals in the United States. In 2018 she was selected as 1 of 10 female filmmakers in South Africa to write and direct a short film (Slumber Party) as part of the NFVF Female Filmmakers Slate – an initiative spearheaded by the National Film and Video Foundation to empower South African female filmmakers. To date this film “Slumber Party” has won two awards: Best South African Shortfilm & Best Producer at the Ekurheleni International Film Festival 2019.
                    .reel-3__content--text In 2019 she was shortlisted as one of the top 10 screenwriters from 110 projects from over 30 countries on the African continent for ‘The Realness- African Screenwriter’s Residency.’ She was also shortlisted as one of the top 25 writers for Netflix’s Mama K’s Team 4.
