extends layout

block content
    .container
        section.people__banner
            .people__banner--title PEOPLE
            .people__banner--divider
            .people__banner--text 

        section.people__content
            .people__reel
                .splat__yellow
                    .splat__black--1
                        .splat__black--title Palesa 
                            span.text-yellow Lebona
                    .people__reel--title
                        img.clapperboard(src="images/custom/clapperboard.svg", alt="clapperboard")
                        .text Director 
                        .divider-pipe | 
                        .text Alpha
            .people__reel
                .people__reel--row
                    img.director-image(src="images/custom/palesa.png" alt="Palesa")
                    .splat__black--2
                        .text Palesa Lebona is a Content Producer with a Master of Fine Arts (Filmmaking) from the New York Film Academy and two Bachelor of Commerce Degrees under her belt.
                        .text She brings knowledge, and expertise in both film production and corporate, enabling Watchdog Media to create fresh original content which meets budgetary expectations for businesses and individuals.
                        //- a.splat__pink Read More
                        //-     a.splat__pink--link(href="#") Read More
                

                    