extends layout

block content
    .container
        section.people__banner
            .people__banner--title PEOPLE
            .people__banner--divider
            .people__banner--text 

        //- section.people__content
        //-     .people__reel
        //-         .people__reel--content
        //-             .people__reel--title
        //-                 .people__reel--text Palesa
        //-                     span.text-yellow Lebona
        //-     .people__reel
        //-         .people__reel--director
                    