extends layout

block content
    .ui.container
        section.people__banner
            .people__banner--title PEOPLE
            .people__banner--divider
            .people__banner--text 

        section.people__content
            .reel-1
                .reel-1__splat--yellow
                    .reel-1__splat--black
                        .reel-1__title--main Palesa 
                            span.text-yellow Lebona
                    .reel-1__title-block
                        img.reel-1__title-block--icon(src="images/custom/clapperboard.svg", alt="clapperboard")
                        .reel-1__title-block--text Director
                        .reel-1__title-block--divider |
                        .reel-1__title-block--text Alpha
            .reel-2
                img.reel-2__image(src="images/custom/palesa.png", alt="Palesa Lebona")
                .reel-2__description
                    .reel-2__description--text Palesa Lebona is a Content Producer with a Master of Fine Arts (Filmmaking) from the New York Film Academy and two Bachelor of Commerce Degrees under her belt.
                    .reel-2__description--text She brings knowledge and expertise in both fim production and corporate, enabling Watchdog Media to create fresh, original content which meets budgetary expectations for businesses and individuals.
                    .reel-2__description--link
                        a.button(href="/palesa") Read More

            
                

                    