extends layout

block content
    .ui.container
        section.previous__banner
            .previous__banner--title Previous Work
            .previous__banner--divider
            .previous__banner--text 

        section.previous__work
            .previous__work--item
                .previous__work--image
                .previous__work--title CREAM
            .previous__work--item
                .previous__work--image
                .previous__work--title SINVERGUENZAS
            .previous__work--item
                .previous__work--image
                .previous__work--title BLACK ROSE
            .previous__work--item
                .previous__work--image
                .previous__work--title SLUMBER PARTY
            .previous__work--item
                .previous__work--image
                .previous__work--title FOOD WARS
            .previous__work--item
                .previous__work--image
                .previous__work--title I LIKE IT UP
            .previous__work--item
                .previous__work--image
                .previous__work--title CHERRY POP
            .previous__work--item
                .previous__work--image
                .previous__work--title BUN IN THE OVEN
            .previous__work--item
                .previous__work--image
                .previous__work--title HOLIER THAN THOU
            .previous__work--item
                .previous__work--image
                .previous__work--title TEACHER'S PERIOD

        section.previous__press
            .previous__press--title PRESS
            ol.previous__press--list
                li.previous__press--list-item CCTV
                li.previous__press--list-item San Francisco Bay View: Colourism in the Black Community
                li.previous__press--list-item Her Africa Film Festival: Profile Piece
                li.previous__press--list-item Melanmag.com: Celebrating women of colour at BUFF Festival
                li.previous__press--list-item Pride Magazine Nigeria: A spotlight on talented African women, on and off screen @buffenterprises
                li.previous__press--list-item Glam Africa: Women on and off screen: BT British Urban Film Festival embodies the true essence of total diversity in action
                li.previous__press--list-item Joclarep: Buffenterprises leads the way in gender diversity on/off screen
                li.previous__press--list-item BLK Girl Fly/The Beauty Standard: Event to celebrating and highlighting women of colour from beauty and hair across finance, health, wellness and happiness
                li.previous__press--list-item Daily Theta: Gender Diversity withing the Entertainment Industry
                li.previous__press--list-item France 24: Gender Diversity within Animation
