extends layout

block content
    .container
        section.previous__banner
            .previous__banner--title Previous Work
            .previous__banner--divider
            .previous__banner--text 

        section.previous__work
            .previous__work--item
                .previous__work--image
                .previous__work--title CREAM
            .previous__work--item
                .previous__work--image
                .previous__work--title SINVERGUENZAS
            .previous__work--item
                .previous__work--image
                .previous__work--title BLACK ROSE
            .previous__work--item
                .previous__work--image
                .previous__work--title SLUMBER PARTY
            .previous__work--item
                .previous__work--image
                .previous__work--title FOOD WARS
            .previous__work--item
                .previous__work--image
                .previous__work--title I LIKE IT UP
            .previous__work--item
                .previous__work--image
                .previous__work--title CHERRY POP
            .previous__work--item
                .previous__work--image
                .previous__work--title BUN IN THE OVEN
            .previous__work--item
                .previous__work--image
                .previous__work--title HOLIER THAN THOU
            .previous__work--item
                .previous__work--image
                .previous__work--title TEACHER'S PERIOD

        section.previous__press
            .previous__press--title PRESS
            ol.previous__press--list
                li.previous__press--list-item CCTV