extends layout

block content
    .container
        section.services-event__banner
            .services-event__banner--title Services
            .services-event__banner--divider
            .services-event__banner--text Event Videography

        section.services-event__content
            .services-event__title
                img.services-event__title--icon(src="images/custom/camcorder.svg", alt="camcorder")
                .services-event__title--text EVENT 
                    span.text-pink VIDEOGRAPHY
            .services-event__image-grid
                .services-event__image-grid--1
                .services-event__image-grid--2
                .services-event__image-grid--3
            .services-event__packages
                .glam-package__title Various Glam(Event) packages to best suit your needs:
                .glam-package__essential
                    .glam-package__image
                    .glam-package__name Essential Glam
                    .glam-package__description A standard package with one video cameraman to capture and edit video footage for an event only (excluding interviews)
                .glam-package__key
                    .glam-package__image
                    .glam-package__name Key Glam
                    .glam-package__description A comprehensive package with two video cameramen to capture and edit video footage for an event (including interviews)
                .glam-package__elite
                    .glam-package__image
                    .glam-package__name Elite Glam
                    .glam-package__description A comprehensive package with four video cameramen to capture and edit video footage for an event (including interviews)