extends layout

block content
    .ui.container
        section.services-social__banner
            .services-social__banner--title Services
            .services-social__banner--divider
            .services-social__banner--text Social Media
        
        section.services-social__header
            .services-social__header--title Social 
                span.text-pink Media
            .services-social__header--text Through a tailor-made, content driven strategy combining web and media, we solidify your company's profile in the mings of your target consumers and differentiate you from your competitors using Facebooks, Twitter, Instagram and Youtube.

        section.services-social__content
            .services-social__media-manager
                .services-social__media-manager--title 1. Social Media Manager
                .services-social__media-manager--text A virtual In-house Social Media Manager overseeing publishing and management of all social media aspects
            .services-social__media-assistant
                .services-social__media-assistant--title 2. Social Media Assistant
                .services-social__media-assistant--text A virtual Social Media Assistant providing assistance on certain key aspects of social media
            .services-social__checklist
                .services-social__checklist--title Checklist
                ul.services-social__checklist--list
                    li No Social Media Department
                    li No time to manage social media
                    li Month-to-month social media support
                    li Someone else to manage social media
                .services-social__checklist--title Checklist
                ul.services-social__checklist--list
                    li A person/team currently managing social media
                    li Need assistance managing certain aspect(s) of social media