extends layout

block content
    .container
        section.services-video__banner
            .services-video__banner--title Services
            .services-video__banner--divider
            .services-video__banner--text Video Production Services

        section.services-video__services
            .feature-3
                .feature-3__container
                    img.feature-3__image(src="images/custom/ufo.svg", alt="ufo")
                .feature-3__title VLOGS
                .feature-3__text Converting blog content into a video
            .feature-3
                .feature-3__container
                    img.feature-3__image(src="images/custom/tags.svg", alt="tags")
                .feature-3__title COMMERCIALS
                .feature-3__text Providing key production elements to create a commercial
            .feature-3
                .feature-3__container
                    img.feature-3__image(src="images/custom/reddit.svg", alt="reddit smiley")
                .feature-3__title CARTOONS
                .feature-3__text Providing key production elements to create 2D cartoons
            .feature-3
                .feature-3__container
                    img.feature-3__image(src="images/custom/reel.svg", alt="film reel")
                .feature-3__title FILMS
                .feature-3__text Providing key production elements to create a feature/short film
            .feature-3
                .feature-3__container
                    img.feature-3__image(src="images/custom/video_cam.svg", alt="video camera")
                .feature-3__title DOCUMENTARIES
                .feature-3__text Providing key productions elements to create a documentary
            .feature-3
                .feature-3__container
                    img.feature-3__image(src="images/custom/lighting.svg", alt="lighting")
                .feature-3__title SHOWS
                .feature-3__text Providing key productions elements to create a fictional or reality show
            .feature-3
                .feature-3__container
                    img.feature-3__image(src="images/custom/radar.svg", alt="radar")
                .feature-3__title BEHIND THE SCENES
                .feature-3__text Providing key production elements to create a behind-the-scenes video from events and video productions
            .feature-3
                .feature-3__container
                    img.feature-3__image(src="images/custom/whale.svg", alt="whale")
                .feature-3__title BLOOPERS
                .feature-3__text Providing key production elements to create humorous videos about behind-the-scenes errors