extends layout

block content
    .ui.container
        section.services-corporate__banner
            .services-corporate__banner--title Services
            .services-corporate__banner--divider
            .services-corporate__banner--text Corporate Training

        section.services-corporate__content
            .services-corporate__title 
                img.services-corporate__title--icon(src="images/custom/corporate_card.svg", alt="corporate card")
                .services-corporate__title--text CORPORATE
                    span.text-grey-light /
                    span.text-pink TRAINING VIDEOS
            .services-corporate__description  Merging education and entertainment into 3-5 minutes short films to assist employees and clients to know about the company and its systems profitability:
            .services-corporate__features
                .services-corporate__feature
                    img.services-corporate__feature--icon(src="images/custom/user.svg", alt="user")
                    .services-corporate__feature--title About Me:
                    .services-corporate__feature--description History, products, services and structure of the company
                .services-corporate__features--divider
                .services-corporate__feature
                    img.services-corporate__feature--icon(src="images/custom/mortarboard.svg", alt="mortarboard")
                    .services-corporate__feature--title Teach Me:
                    .services-corporate__feature--description Train employees or customers on using a product, service or system
                .services-corporate__features--divider
                .services-corporate__feature
                    img.services-corporate__feature--icon(src="images/custom/rocket.svg", alt="rocket")
                    .services-corporate__feature--title Launch Me:
                    .services-corporate__feature--description The launch of a new product, service or division
            .services-corporate__checklist
                .services-corporate__checklist--image
                .services-corporate__checklist--list
                    .services-corporate__checklist--heading Checklist
                    .services-corporate__checklist--divider
                    .services-corporate__checklist--icon
                    .services-corporate__checklist--text Filmmaker
                    .services-corporate__checklist--icon
                    .services-corporate__checklist--text Non Filmmaker

