extends layout

block content
    .container
        section.services-social__banner
            .services-social__banner--title Services
            .services-social__banner--divider
            .services-social__banner--text Social Media
        
        section.services-social__content
            .social-collage