/* You can add global styles to this file, and also import other style files */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@font-face {
  font-family: noteworthy;
  src: url(../fonts/noteworthy-bold.ttf);
  font-weight: 400;
}
@font-face {
  font-family: minion;
  src: url(../fonts/minion-pro-regular.ttf);
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "minion", "sans-serif";
}

.minion {
  font-family: "minion", "sans-serif";
}

.noteworthy {
  font-family: "noteworthy", "sans-serif";
}

.heading--noteworthy {
  font-family: "noteworthy", "sans-serif";
}

.text-white {
  color: white !important;
}

.text-pink {
  color: #ec008cff;
}

.text-yellow {
  color: #d9e026ff;
}

.jumbotron {
  background: url("../images/background3.jpg") no-repeat center center;
  background-size: cover;
  padding: 2rem;
  min-height: 40vh;
}

.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../images/custom/splat_pink.svg) top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 12rem;
  height: 5rem;
  transition: all 0.3s;
}
.button, .button:link, .button:visited {
  font-size: 1.3rem;
  font-family: "noteworthy", "sans-serif";
  line-height: 1.4rem;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  transform: scale(1.2);
}
.button::after {
  content: "";
}

.feature {
  padding: 0rem 2rem;
  display: flex;
  flex-basis: 33%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.feature__icon {
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.feature__title {
  font-size: 2rem !important;
  font-family: "noteworthy", "sans-serif";
  font-weight: bold;
  line-height: 3rem;
}
.feature__content {
  min-height: 14rem;
  font-size: 2.4rem;
  text-align: center;
}

.feature-2 {
  padding: 0rem 2rem;
  display: flex;
  flex-basis: 22%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.feature-2__icon {
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.feature-2__title {
  font-size: 1.6rem !important;
  font-family: "noteworthy", "sans-serif";
  font-weight: bold;
  line-height: 3rem;
}
.feature-2__content {
  min-height: 14rem;
  font-size: 1.5rem;
}

.feature-3 {
  flex-grow: 1;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
}
.feature-3__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 9rem;
  background-color: #d9e026ff;
  border-radius: 50%;
}
.feature-3__image {
  max-height: 7rem;
  max-width: 6rem;
}
.feature-3__title {
  margin-top: 0.3rem;
  font-size: 2.1rem;
  font-family: "noteworthy", "sans-serif";
  color: #000000;
  line-height: 3rem;
  text-align: center;
}
.feature-3__text {
  margin-top: 0.3rem;
  font-size: 1.9rem;
  font-family: "minion", "sans-serif";
  color: black;
  text-align: center;
}

.footer {
  padding: 5rem 3rem;
}
.footer__item {
  font-size: 2.3rem !important;
  font-family: "noteworthy", "sans-serif";
}

.nav-item.active {
  border-bottom: 2px dot black;
}

.nav-link,
.dropdown-item {
  margin: 1rem 1rem;
  font-size: 2.2rem;
  font-family: "noteworthy", "sans-serif";
}

.navbar-brand {
  font-size: 2.2rem;
}

.custom-menu {
  position: relative;
}

.navigation {
  width: 100%;
  height: 6rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% repeat(6, minmax(max-content, auto));
  align-items: center;
  transition: all 0.3s linear;
}
.navigation__item {
  position: relative;
  display: grid;
}
.navigation__item--droppable {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: min-content auto;
  align-items: center;
}
.navigation__link {
  grid-row: 1/2;
  grid-column: 1/2;
}
.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  font-size: 2rem;
  font-family: "noteworthy", "sans-serif";
  color: darkslategrey;
  cursor: pointer;
}
.navigation__link:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}
.navigation__icon {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-image: url(../../../images/SVG/cheveron-down.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.services__menu {
  position: absolute;
  top: 4rem;
  left: 0;
  transform: translate(50rem, -50%) scale(0);
  transform-origin: top left;
  transition: all 0.3s linear;
  width: 26rem;
  background-image: url(../../../images/custom/services-menu.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10000;
}
.services__menu--link {
  padding: 0.1rem 0.3rem;
  font-size: 1.6rem;
  font-family: "noteworthy", "sans-serif";
  color: #000000;
  cursor: pointer;
}
.services__menu--link:link, .services__menu--link:visited, .services__menu--link:hover {
  text-decoration: none;
  color: #000000;
}
.services__menu--link:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.services__toggler {
  position: absolute;
  top: -9999;
  left: -9999;
  display: none;
}

.services__label {
  text-decoration: none;
  font-size: 2rem;
  font-family: "noteworthy", "sans-serif";
  color: darkslategrey;
  cursor: pointer;
}

.services__toggler:checked ~ .services__menu {
  transform: scale(1);
  transition: all 0.3s linear;
}

.home__banner {
  position: relative;
  height: 50vh;
  background-image: linear-gradient(to right, transparent, transparent), url(../../../images/4x/background-1-4x.png);
  background-size: cover;
}
.home__banner--logo {
  height: 25rem;
  position: absolute;
  bottom: 6rem;
  z-index: 1000;
}
.home__banner--text {
  font-size: 3rem;
  color: #ffffff;
  font-family: "noteworthy", "sans-serif";
  position: absolute;
  bottom: 3rem;
  right: 10rem;
}
.home__welcome {
  padding: 5rem 8rem;
}
.home__welcome--title {
  font-size: 3rem;
  font-family: "noteworthy", "sans-serif";
}
.home__welcome--divider {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-top: 5px solid #000000;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.home__welcome--text {
  font-size: 2.5rem;
  font-family: "minion", "sans-serif";
}
.home__features {
  padding: 3rem 2rem;
  display: flex;
  flex-basis: 33%;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}

.about__banner {
  height: 35vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, transparent, transparent), url(../../../images/4x/background-1-4x.png);
  background-size: cover;
}
.about__banner--title {
  font-size: 4rem !important;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
}
.about__banner--divider {
  margin: 2.4rem 0rem;
  width: 65%;
  border-top: 10px solid white;
}
.about__banner--text {
  font-size: 2.5rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.about__features {
  padding: 3rem 2rem;
  display: flex;
  flex-basis: 33%;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}
.about__philosophies {
  height: 50vh;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

.philosophy {
  padding: 4rem;
}
.philosophy__statement {
  padding: 2rem;
  flex-grow: 1;
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.philosophy__statement--title {
  font-size: 3.8rem;
  font-family: "noteworthy", "sans-serif";
  text-align: center;
  color: #ffffff;
}
.philosophy__statement--text {
  font-size: 2.2rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
  letter-spacing: 0.2rem;
  font-weight: lighter;
}
.philosophy__slogan {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "minion", "sans-serif";
}
.philosophy__slogan--image {
  display: flex;
  justify-content: center;
}
.philosophy__slogan--text {
  font-size: 3rem;
  font-family: "noteworthy", "sans-serif";
  color: #d9e026ff;
}
.philosophy__slogan--divider {
  height: 60%;
  border-left: 10px solid #d9e026ff;
}

.services__banner {
  position: relative;
  height: 35vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, transparent, transparent), url(../../../images/4x/background-1-4x.png);
  background-size: cover;
}
.services__banner--title {
  font-size: 4rem !important;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
}
.services__banner--divider {
  margin: 2.4rem 0rem;
  width: 65%;
  border-top: 10px solid white;
}
.services__banner--text {
  font-size: 2.5rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.services__container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: url(../../../images/custom/splat_black_3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services__checklist {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services__production {
  position: relative;
  flex: 1 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(10rem);
}
.services__features {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services__services {
  padding: 12rem 4rem;
  height: 55vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.checklist__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: "noteworthy", "sans-serif";
  color: #d9e026ff;
  align-self: center;
  border-bottom: 0.8rem solid white !important;
}
.checklist__item {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.checklist__item--icon {
  height: 4rem !important;
  margin: 0rem 1rem;
}
.checklist__item--text {
  font-size: 2.8rem;
  font-family: "noteworthy", "sans-serif";
  color: #d9e026ff;
}

.production {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 3rem;
}
.production__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.production__title--text {
  font-size: 3.9rem;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
  margin-right: 3rem;
}
.production__title--icon {
  height: 6.5rem;
}
.production__splat {
  margin-top: 5rem;
  height: 75%;
  width: 90%;
  background-image: url(../../../images/custom/splat_yellow_2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.production__splat--text {
  padding: 3rem;
  font-size: 2.5rem;
  font-family: "minion", "sans-serif";
  color: #000000;
}

.services-video__banner {
  position: relative;
  height: 35vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, transparent, transparent), url(../../../images/4x/background-1-4x.png);
  background-size: cover;
}
.services-video__banner--title {
  font-size: 4rem !important;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
}
.services-video__banner--divider {
  margin: 2.4rem 0rem;
  width: 65%;
  border-top: 10px solid white;
}
.services-video__banner--text {
  font-size: 2.5rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.services-video__services {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services-event__banner {
  position: relative;
  height: 35vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, transparent, transparent), url(../../../images/4x/background-1-4x.png);
  background-size: cover;
}
.services-event__banner--title {
  font-size: 4rem !important;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
}
.services-event__banner--divider {
  margin: 2.4rem 0rem;
  width: 65%;
  border-top: 10px solid white;
}
.services-event__banner--text {
  font-size: 2.5rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.services-event__content {
  display: grid;
  grid-template-rows: 4rem repeat(3, auto) 4rem;
  grid-row-gap: 2rem;
  grid-template-columns: 5rem auto 5rem;
}
.services-event__title {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 10% auto;
  grid-template-rows: auto;
  align-items: center;
}
.services-event__title--icon {
  grid-column: 1/2;
  height: 4.2rem;
}
.services-event__title--text {
  grid-column: 2/3;
  font-size: 3.5rem;
  font-family: "noteworthy", "sans-serif";
  color: #000000;
}
.services-event__image-grid {
  width: 100%;
  height: 40vh;
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.services-event__image-grid--1 {
  grid-column: 1/5;
  grid-row: 1/4;
  background: black;
  z-index: 51;
}
.services-event__image-grid--2 {
  grid-column: 3/7;
  grid-row: 2/5;
  background: black;
  z-index: 52;
}
.services-event__image-grid--3 {
  grid-column: 6/10;
  grid-row: 3/6;
  background: black;
  z-index: 53;
}
.services-event__packages {
  grid-row: 4/5;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}

.glam-package__title {
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 2.6rem;
  font-family: "noteworthy", "sans-serif";
  color: #000000;
}
.glam-package__essential {
  grid-row: 3/4;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-auto-columns: auto;
  grid-row-gap: 1rem;
}
.glam-package__key {
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-auto-columns: auto;
  grid-row-gap: 1rem;
}
.glam-package__elite {
  grid-row: 3/4;
  grid-column: 3/4;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-auto-columns: auto;
  grid-row-gap: 1rem;
}
.glam-package__image {
  height: 20rem;
  background-color: darkslategrey;
}
.glam-package__name {
  font-size: 2.5rem;
  font-family: "noteworthy", "sans-serif";
  color: #000000;
  text-align: center;
}
.glam-package__description {
  font-size: 1.6rem;
  font-family: "minion", "sans-serif";
  color: #333;
  text-align: center;
  padding: 0 1.5rem;
}

.people {
  position: relative;
}
.people__banner {
  height: 35vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, transparent, transparent), url(../../../images/4x/background-1-4x.png);
  background-size: cover;
}
.people__banner--title {
  font-size: 4rem !important;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
}
.people__banner--divider {
  margin: 2.4rem 0rem;
  width: 65%;
  border-top: 10px solid white;
}
.people__banner--text {
  font-size: 2.5rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.people__content {
  padding: 2rem 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reel-1 {
  position: relative;
  width: 80rem;
  height: 43.1rem;
  background-image: url(../../../images/custom/reel_border.svg);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reel-1__splat--yellow {
  position: relative;
  width: 90%;
  height: 74%;
  background-image: url(../../../images/custom/splat_yellow.svg);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.reel-1__splat--black {
  position: relative;
  width: 55%;
  height: 45%;
  background-image: url(../../../images/custom/splat_black.svg);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(2.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.reel-1__title--main {
  font-size: 3.8rem;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
}
.reel-1__title-block {
  width: 55%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reel-1__title-block--icon {
  height: 3.8rem;
}
.reel-1__title-block--text {
  font-size: 3.6rem;
  font-family: "noteworthy", "sans-serif";
  color: #000000;
  margin: 0 2rem;
}
.reel-1__title-block--divider {
  font-size: 3.6rem;
  font-family: "minion", "sans-serif";
  color: #000000;
  font-weight: bold;
}

.reel-2 {
  position: relative;
  width: 80rem;
  height: 53.2rem;
  background-image: url(../../../images/custom/reel_border_2.svg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 5% repeat(2, 45%) 5%;
  grid-template-rows: 10% 80% 10%;
  grid-column-gap: 1rem;
}
.reel-2__image {
  width: 100%;
  height: 90%;
  grid-row: 2/3;
  grid-column: 2/3;
}
.reel-2__description {
  position: relative;
  grid-row: 2/3;
  grid-column: 3/4;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/custom/splat_black_2.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reel-2__description--text {
  font-size: 1.6rem;
  font-family: "minion", "sans-serif";
  font-weight: lighter;
  color: #ffffff;
  margin: 1rem 2rem;
}
.reel-2__description--link {
  position: absolute;
  bottom: 5.5rem;
  right: 5rem;
}

.splat__yellow {
  position: relative;
  flex-grow: 1;
  height: inherit;
  background: linear-gradient(to right, transparent, transparent), url(../../../images/custom/splat_yellow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.splat__black--1 {
  position: relative;
  height: 48%;
  width: 45%;
  background-image: url(../../../images/custom/splat_black.svg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.splat__black--2 {
  width: 50%;
  height: 90%;
  position: relative;
  background-image: url(../../../images/custom/splat_black_2.svg);
  background-size: cover;
  margin-bottom: 30rem;
  display: flex;
  flex-direction: column;
}
.splat__black--2 .text {
  padding: 2rem;
  font-size: 1.5rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.splat__black--title {
  font-size: 4rem;
  color: #ffffff;
  font-family: "noteworthy", "sans-serif";
}

.splat__pink {
  margin-left: 5rem;
  background-image: url(../../../images/custom/splat_pink.svg);
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
  font-size: 2rem;
  font-family: "noteworthy", "sans-serif";
  color: #000000;
}
.splat__pink--link {
  text-decoration: none;
  font-size: 2rem;
  font-family: "noteworthy", "sans-serif";
  color: #000000;
}

.palesa {
  position: relative;
}
.palesa__banner {
  height: 35vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, transparent, transparent), url(../../../images/4x/background-1-4x.png);
  background-size: cover;
}
.palesa__banner--title {
  font-size: 4rem !important;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
}
.palesa__banner--divider {
  margin: 2.4rem 0rem;
  width: 65%;
  border-top: 10px solid white;
}
.palesa__banner--text {
  font-size: 2.5rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.palesa__content {
  padding: 2rem 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reel-3 {
  position: relative;
  width: 80rem;
  height: 91.55rem;
  background-image: url(../../../images/custom/reel_border_3.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 5% 18% auto 5%;
  grid-template-columns: 5% auto 5%;
  align-items: center;
}
.reel-3__header {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/custom/splat_yellow_3.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 5% repeat(2, 45%) 5%;
  grid-template-columns: auto 45% auto;
}
.reel-3__header--title {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  padding-top: 1.4rem;
  background-image: url(../../../images/custom/splat_black_4.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
}
.reel-3__header--pane {
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 5% auto 5%;
  grid-template-columns: auto repeat(max-content);
  align-items: center;
  align-content: center;
}
.reel-3__header--pane-icon {
  grid-row: 2/3;
  grid-column: 1/2;
  height: 80%;
}
.reel-3__header--pane-text-1 {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 2.6rem;
  font-family: "noteworthy", "sans-serif";
  color: #000000;
}
.reel-3__header--pane-text-2 {
  grid-row: 2/3;
  grid-column: 4/5;
  font-size: 2.6rem;
  font-family: "noteworthy", "sans-serif";
  color: #000000;
}
.reel-3__header--pane-divider {
  grid-row: 2/3;
  grid-column: 3/4;
  border-left: 0.5rem solid black;
  height: 100%;
  width: 0;
  padding: 0;
}
.reel-3__content {
  grid-row: 3/4;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/custom/splat_black_5.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 5% repeat(max-content) 5%;
  grid-template-columns: 5% auto 5%;
}
.reel-3__content--text-1 {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.6rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.reel-3__content--text-2 {
  grid-row: 3/4;
  grid-column: 2/3;
  font-size: 1.6rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.reel-3__content--text-3 {
  grid-row: 4/5;
  grid-column: 2/3;
  font-size: 1.6rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.reel-3__content--text-4 {
  grid-row: 5/6;
  grid-column: 2/3;
  font-size: 1.6rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.reel-3__content--text-5 {
  grid-row: 6/7;
  grid-column: 2/3;
  font-size: 1.6rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}

.contact__banner {
  position: relative;
  height: 35vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, transparent, transparent), url(../../../images/4x/background-1-4x.png);
  background-size: cover;
}
.contact__banner--title {
  font-size: 4rem !important;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
}
.contact__banner--divider {
  margin: 2.4rem 0rem;
  width: 65%;
  border-top: 10px solid white;
}
.contact__banner--text {
  font-size: 2.5rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.contact__layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.contact__layout--item {
  flex: 1 0 45%;
}
.contact__textbox {
  margin: 3rem 0rem;
  padding: 0.5rem 0.8rem;
  max-width: 50%;
  display: block;
  font-size: 2.5rem;
  font-family: "noteworthy", "sans-serif";
  color: navy !important;
  border: 0.3rem solid navy;
  background-color: #d9e026ff;
}
.contact__textbox::placeholder {
  font-size: 2rem;
  font-family: "noteworthy", "sans-serif";
  color: navy !important;
}
.contact__textarea {
  margin: 3rem 0rem;
  padding: 0.5rem 0.8rem;
  width: 100%;
  display: block;
  font-size: 2.5rem;
  font-family: "noteworthy", "sans-serif";
  color: navy !important;
  border: 0.3rem solid navy;
  background-color: #d9e026ff;
}
.contact__textarea::placeholder {
  font-size: 2rem;
  font-family: "noteworthy", "sans-serif";
  color: navy !important;
}
.contact__link {
  font-size: 2.3rem !important;
  vertical-align: middle;
}
.contact__icon {
  height: 2rem;
  vertical-align: middle;
}

.previous__banner {
  position: relative;
  height: 35vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, transparent, transparent), url(../../../images/4x/background-1-4x.png);
  background-size: cover;
}
.previous__banner--title {
  font-size: 4rem !important;
  font-family: "noteworthy", "sans-serif";
  color: #ffffff;
}
.previous__banner--divider {
  margin: 2.4rem 0rem;
  width: 65%;
  border-top: 10px solid white;
}
.previous__banner--text {
  font-size: 2.5rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.previous__work {
  padding: 7rem 0rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.previous__work--item {
  flex: 1 0 calc(20% - 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.previous__work--image {
  margin: 1.5rem;
  min-height: 12rem !important;
  min-width: 16rem !important;
  background-color: #d9e026;
}
.previous__work--title {
  font-size: 1.8rem !important;
  font-family: "noteworthy", "sans-serif";
}
.previous__press {
  min-height: 40rem;
  background-color: #383838;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.previous__press--title {
  font-size: 4rem;
  font-family: "minion", "sans-serif";
  color: #ffffff;
}
.previous__press--list {
  display: block;
  width: 70;
  list-style-type: decimal;
}
.previous__press--list-item {
  font-size: 2.6rem;
  font-family: "noteworthy", "sans-serif";
  color: #d9e026ff;
}

/*# sourceMappingURL=styles.css.map */
