*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    font-family: $font-minion;
}

.minion {
    font-family: $font-minion;
}
.noteworthy {
    font-family: $font-noteworthy;
}

.heading--noteworthy {
    font-family: $font-noteworthy;
}

.text-white {
    color: white !important;
}

.text-pink {
    color: $color-pink;
}

.text-yellow {
    color: $color-yellow;
}

.text-grey-light {
    color: $color-grey-dark;
}
