body {
    font-family: $font-minion;
}

.minion {
    font-family: $font-minion;
}
.noteworthy {
    font-family: $font-noteworthy;
}

.heading--noteworthy {
    font-family: $font-noteworthy;
}

.text-white {
    color: white !important;
}

.text-yellow {
    color: $color-yellow;
}
