.services {
    &__banner {
        position: relative;
        height: 35vh;
        padding: 3rem 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: linear-gradient(to right, transparent, transparent),
            url(../../../images/4x/background-1-4x.png);
        background-size: cover;

        &--title {
            font-size: 4rem !important;
            font-family: $font-noteworthy;
            color: $color-white;
        }

        &--divider {
            margin: 2.4rem 0rem;
            width: 65%;
            border-top: 10px solid white;
        }

        &--text {
            font-size: 2.5rem;
            font-family: $font-minion;
            color: $color-white;
        }
    }

    &__container {
        position: relative;
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;
        background-image: url(../../../images/custom/splat_black_3.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__checklist {
        flex: 1 0 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__production {
        position: relative;
        flex: 1 0 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(10rem);
    }

    &__features {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__services {
        padding: 12rem 4rem;
        height: 55vh;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.checklist {
    &__title {
        margin-bottom: 2rem;
        font-size: 3rem;
        font-family: $font-noteworthy;
        color: $color-yellow;
        align-self: center;
        border-bottom: 0.8rem solid white !important;
    }

    &__item {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;

        &--icon {
            height: 4rem !important;
            margin: 0rem 1rem;
        }
        &--text {
            font-size: 2.8rem;
            font-family: $font-noteworthy;
            color: $color-yellow;
        }
    }
}

.production {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 3rem;
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &--text {
            font-size: 3.9rem;
            font-family: $font-noteworthy;
            color: $color-white;
            margin-right: 3rem;
        }
        &--icon {
            height: 6.5rem;
        }
    }
    &__splat {
        margin-top: 5rem;
        height: 75%;
        width: 90%;
        background-image: url(../../../images/custom/splat_yellow_2.svg);
        background-size: contain;
        background-repeat: no-repeat;

        &--text {
            padding: 3rem;
            font-size: 2.5rem;
            font-family: $font-minion;
            color: $color-black;
        }
    }
}
