.nav-item.active {
    border-bottom: 2px dot black;
}

.nav-link,
.dropdown-item {
    margin: 1rem 1rem;
    font-size: 2.2rem;
    font-family: $font-noteworthy;
}

.navbar-brand {
    font-size: 2.2rem;
}
