.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../images/custom/splat_pink.svg) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 12rem;
    height: 5rem;
    font-size: 1.3rem;
    font-family: $font-noteworthy;
    line-height: 1.4rem;
    color: $color-black;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
    &:link,
    :visited {
    }
    &:hover {
        text-decoration: none;
        transform: scale(1.2);
    }
}
